@use '../../../styles/variables' as v;
.Mark {
  // padding-top: 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  text-decoration: none;
  transition: transform 0.2s ease;
  height: fit-content;
  @media screen and (max-width: 767px) {
    width: 75px;
  }

  // Appliquer l'effet hover uniquement si on n'est pas en mode édition
  &:not(.edit-icon):hover {
    transform: scale(1.1);
  }

  .remove-icon-container {
    all: unset;
    z-index: 99;
    position: absolute;
    top: -10px;
    right: 4px;
    font-size: 1.6rem;
    color: #ff3b30;
    cursor: pointer;
    transition: color 0.2s ease;
    @media screen and (max-width: 767px) {
      right: -4px;
    }
    &:hover {
      color: #d42020;
      transform: scale(1.1);
    }
  }

  .TileImgContainer {
    position: relative;
    width: 64px;
    height: 64px;
    margin-bottom: 8px;
    border-radius: 12px;
    overflow: hidden;
    background-color: v.$bg-color-transparent;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;

    .edit-icon-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
      height: 60%;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.5);
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background: rgba(0, 0, 0, 0.7);
      }

      .edit-pencil {
        color: white;
        width: 20px;
        height: 20px;
      }
    }

    img {
      width: 70%;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 12px;
    }
  }

  .TileTitle {
    color: #fff;
    width: 100%;
    font-weight: 600;
    padding: 2px 2px;
    margin: 0;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // padding-bottom: 2px;
    background-color: v.$bg-color-transparent;
    border-radius: 5px;
  }
}
