/*
Définition de variables Sass, par exemple :
   $color: #282c34;
*/

$main-title-font: 'GFS Didot', serif;
$light-font-color: #e0e0e0;
$header-height: 3.5rem;

// Dégradé
$default-degrade: linear-gradient(to right, #dc2430, #7b4397);
$webkit-default-degrade: -webkit-linear-gradient(to right, #dc2430, #7b4397);

// Couleurs
// $bg-color-transparent: rgb(0 0 0 / 20%);
$bg-color-transparent: rgba(56, 56, 61, 0.3);
