@use '../../../../styles/variables' as v;

.AddMarkButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: fit-content;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  @media screen and (max-width: 767px) {
    width: 75px;
  }

  &:hover {
    transform: scale(1.05);

    .TileImgContainer {
      border-color: v.$interactive-border-hover;
      background-color: v.$interactive-bg;
      box-shadow: 0 4px 10px v.$interactive-shadow-hover,
        0 0 15px v.$interactive-shadow-hover,
        0 0 10px v.$interactive-shadow-hover inset;

      svg {
        transform: scale(1.1);
        // color: v.$interactive-icon;
      }
    }

    .TileTitle {
      background: v.$interactive-bg-hover;
      letter-spacing: 0.5px;
    }
  }

  &:focus {
    outline: none;
  }

  .TileImgContainer {
    position: relative;
    background-color: v.$interactive-bg-hover;
    width: 64px;
    height: 64px;
    margin-bottom: 8px;
    border-radius: 16px;
    border: 2px solid v.$interactive-border;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    overflow: hidden;
    box-shadow: 0 4px 10px v.$interactive-shadow, 0 0 15px v.$interactive-shadow,
      0 0 10px v.$interactive-shadow inset;
    svg {
      color: #fff;
      transition: all 0.3s ease;
    }
  }

  .TileTitle {
    color: #fff;
    width: 100%;
    font-weight: 500;
    padding: 4px 8px;
    margin: 0;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: v.$interactive-bg;
    border-radius: 8px;
    transition: all 0.3s ease;
    backdrop-filter: blur(4px);
    @media screen and (max-width: 767px) {
      text-overflow: unset;
      padding: 3px 5px;
      font-size: 12px;
    }
  }
}
