.AddMarkButton {
  // padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: fit-content;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;

  @media screen and (max-width: 767px) {
    width: 75px;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:focus {
    outline: none;
  }

  .TileImgContainer {
    position: relative;
    width: 64px;
    height: 64px;
    margin-bottom: 8px;
    border-radius: 12px;
    overflow: hidden;
    background: rgb(33 241 180 / 35%);
    backdrop-filter: blur(8px);
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  .TileTitle {
    color: #fff;
    width: 100%;
    font-weight: 600;
    padding: 2px 2px;
    margin: 0;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgb(33 241 180 / 20%);
    border-radius: 5px;
  }
}
