@use '../../../../styles/variables' as v;

.AddMarkRowButton {
  all: unset;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  background-color: var(--interactive-bg);
  border-radius: 8px;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.01);
    background-color: var(--interactive-bg-hover);

    .mark-content {
      .mark-field {
        letter-spacing: 0.5px;
      }

      .add-icon {
        transform: scale(1.1);
      }
    }
  }

  .mark-content {
    display: flex;
    gap: 1rem;
    flex-grow: 1;

    .mark-field {
      color: #fff;
      padding: 0.5rem;
      border-radius: 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 200px;
      display: flex;
      align-items: center;
      opacity: 0.8;
      transition: all 0.3s ease;
    }

    .mark-field-description {
      width: 300px;
    }

    .name-field {
      gap: 0.8rem;

      .add-icon {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        transition: transform 0.3s ease;
      }
    }
  }
}
