@use '../../styles/variables' as v;
.space-container {
  width: v.$width-container-desktop;
  height: 60vh;
  // background-color: rgba(255, 255, 255, 0.1);
  background-color: rgb(0 0 0 / 10%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  margin: auto;
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.37);
  padding: 2rem;
  overflow: hidden;
}

.space-content {
  height: 100%;
  overflow-y: auto;
  padding-top: 0.6rem;
  padding-right: 2rem;
  margin-right: -2rem; // Compense le padding pour aligner le contenu
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: flex-start;
  justify-content: center;

  // Stylisation de la barre de défilement pour les navigateurs WebKit
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
  }
  // Animation shake like iOS

  // .edit-icon:nth-child(2n) {
  //   animation-name: shake1;
  //   animation-duration: 0.3s;
  //   animation-iteration-count: infinite;
  //   transform-origin: 50% 10%;
  // }

  // .edit-icon:nth-child(2n-1) {
  //   animation-name: shake2;
  //   animation-duration: 0.3s;
  //   animation-iteration-count: infinite;
  //   animation-direction: alternate;
  //   transform-origin: 30% 5%;
  // }
  // @keyframes shake1 {
  //   0% {
  //     transform: rotate(-1deg);
  //     animation-timing-function: ease-in;
  //   }

  //   50% {
  //     transform: rotate(1.5deg);
  //     animation-timing-function: ease-out;
  //   }
  // }

  // @keyframes shake2 {
  //   0% {
  //     transform: rotate(1deg);
  //     animation-timing-function: ease-in;
  //   }

  //   50% {
  //     transform: rotate(-1.5deg);
  //     animation-timing-function: ease-out;
  //   }
  // }
}

// Stylisation de la barre de défilement pour Firefox
@-moz-document url-prefix() {
  .space-content {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.1);
  }
}

@media screen and (max-width: 767px) {
  .space-container {
    width: v.$width-container-mobile;
    padding: 1rem;
  }

  .space-content {
    padding-right: 1rem;
    margin-right: -1rem;
  }
}
@media screen and (max-height: 500px) {
  .space-container {
    height: 35vh;
    padding: 1rem;
  }
}
