@use '../../styles/variables' as v;
.header-container {
  height: 3.5rem;
  width: 100%;
  background-color: rgba(56, 56, 61, 0.6);
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
  color: v.$light-font-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  .header-main-title {
    font-family: 'GFS Didot', serif;
    font-size: 1.5rem;
    text-shadow: 3px 3px 5px black;
  }
  .header-settings-container {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  .user-button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0.3125rem 0.625rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;

    &:hover,
    &:focus {
      background-color: rgba(255, 255, 255, 0.1);
      outline: none;
    }

    &:focus-visible {
      box-shadow: 0 0 0 2px v.$light-font-color;
    }

    // Styles pour smartphone
    @media screen and (max-width: 767px) {
      max-width: 120px; // Ajustez cette valeur selon vos besoins
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
