@use '../../../styles/variables' as v;

.theme-modal {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  z-index: 1000;

  h2 {
    color: white;
    margin-bottom: 15px;
  }

  .theme-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
  }

  .theme-option {
    //reset button
    border: none;
    background: none;
    padding: 0;
    height: 100px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
    background-size: cover;
    background-position: center;

    &:hover {
      transform: scale(1.05);
    }
    &:focus {
      outline: 2px solid rgba(0, 150, 220, 0.7); // pour ally
    }
  }
  .add-theme-option {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(75, 85, 99, 0.6);
    border: 2px dashed #ffffff;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgba(75, 85, 99, 0.8);
      border-color: #f3f4f6;
      svg {
        color: #f3f4f6;
        transform: scale(1.1);
      }
    }

    svg {
      color: #ffffff;
      transition: all 0.3s ease;
    }
  }

  .theme-color-option {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
    .theme-circle {
      border: 5px solid #fff;
      border-radius: 50%;
      width: 35px;
      aspect-ratio: 1/1;
      cursor: pointer;
    }
    .theme-circle:hover {
      transform: scale(1.1);
      transition: transform 0.3s ease;
    }
  }

  .mode-switch {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;

    .mode-button {
      padding: 8px 20px;
      border: none;
      border-radius: 20px;
      background-color: rgba(255, 255, 255, 0.1);
      color: white;
      cursor: pointer;
      transition: all 0.3s ease;
      font-weight: 500;

      &:hover {
        transform: scale(1.05);
        background-color: rgba(255, 255, 255, 0.2);
      }

      &.active {
        background-color: var(--interactive-bg);
        &:hover {
          background-color: var(--interactive-bg-hover);
        }
      }
    }
  }
}
